<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtocolDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E318272F1EDD8D6700969E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E31827431EDD8D6800969E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E318274E1EDD8D6900969E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
